<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css" type="text/css" />
  <title><%= appname %></title>
</head>
<body>
  <nav class="navbar navbar-light">
		<a class="navbar-brand" href="/a"><%= appname %></a>
  </nav>
  
	<main class="main">
		<aside class="sidenav">
      <ul class="nav">
        <li class="nav-item">
          <a href="/" class="nav-link"><i class="fa fa-dashboard mr-2" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="/insurances" class="nav-link"><i class="fa fa-car  mr-2" aria-hidden="true"></i> Vehicle Insurances</a>
        </li>
        <li class="nav-item">
          <a href="/policies" class="nav-link"><i class="fa fa-bullhorn mr-2" aria-hidden="true"></i> Insurance Policies</a>
        </li>
        <li class="nav-item">
          <a href="/payments" class="nav-link"><i class="fa fa-money mr-2" aria-hidden="true"></i> Payments</a>
        </li>
        <li class="nav-item">
          <a href="/insurances/renew" class="nav-link"><i class="fa fa-houzz mr-2" aria-hidden="true"></i> Renew Insurance</a>
        </li>
        <li class="nav-item">
          <a href="/customers" class="nav-link"><i class="fa fa-users mr-2" aria-hidden="true"></i> Customers</a>
        </li>
        <li class="nav-item">
          <a href="/users" class="nav-link"><i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i> Users</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link"><i class="fa fa-sign-out mr-2" aria-hidden="true"></i> Logout</a>
        </li>
      </ul>
    </aside>

    <section class="main-section">
      <div class="container-fluid">