<%- include ('partials/top') %>
<div class="row py-4">
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/insurances" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-car icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        <p class="card-text">Vehicle Insurances</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/policies" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-bullhorn icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        <p class="card-text">Insurance Policies</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/licenses" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-money icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        <p class="card-text">Payments</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/customers" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-users icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">   
        <p class="card-text">Customers</p>  
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
    <a href="/users" class="card bg-white text-dark d-flex p-2 align-items-center big-link">
      <i class="fa fa-user icon" aria-hidden="true"></i>
      <div class="d-inline-block text-center">
        <p class="card-text">Users</p>  
      </div>
    </a>
  </div>
</div>


<%- include('partials/bottom') %>
